/* Single Property Listing */

.pl-top-content-wrap {
	float: right;
	width: 250px;
}

.pl-btm-content-wrap {
	float: left;
	clear: both;
	margin-top: 28px;
}

.pl-content-item {

}

.pl-price:before {
	content: "\f155";
	-webkit-font-smoothing: antialiased;
	font: normal 26px/1 'FontAwesome';
	margin-right: 5px;
	color: #996633;
	font-weight: bold;
}

.pl-price {
	font-size: 30px;
	font-weight: bold;
	color: #996633;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
}

.pl-type:before {
	content: "\f015";
	-webkit-font-smoothing: antialiased;
	font: normal 20px/1 'FontAwesome';
	margin-right: 5px;
}

.pl-bedrooms:before {
	content: "\f236";
	-webkit-font-smoothing: antialiased;
	font: normal 20px/1 'FontAwesome';
	margin-right: 5px;
}

.pl-bathrooms:before {
	content: "\e016";
	-webkit-font-smoothing: antialiased;
	font: normal 30px/1 'properticons';
	margin-right: 5px;
	vertical-align: middle;
}

.pl-garages:before {
	content: "\f1b9";
	-webkit-font-smoothing: antialiased;
	font: normal 20px/1 'FontAwesome';
	margin-right: 5px;
}

.pl-sf:before {
	content: "\f1ec";
	-webkit-font-smoothing: antialiased;
	font: normal 20px/1 'FontAwesome';
	
	margin-right: 5px;
}
.pl-contact:before {
	content: "\e003";
	-webkit-font-smoothing: antialiased;
	font: normal 30px/1 'properticons';
	margin-right: 5px;
	vertical-align: middle;
}

.pl-flyer:before {
	content: "\f016";
	-webkit-font-smoothing: antialiased;
	font: normal 20px/1 'FontAwesome';
	margin-right: 5px;
}

.pl-vt:before {
	content: "\f124";
	-webkit-font-smoothing: antialiased;
	font: normal 20px/1 'FontAwesome';
	margin-right: 5px;
}

.pl-bb:before {
	content: "\f0e3";
	-webkit-font-smoothing: antialiased;
	font: normal 20px/1 'FontAwesome';
	margin-right: 5px;
}

.single-property-listings .button {
	padding: 18px 18px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #032B5B;
	font-size: 18px;
	min-width: 175px;
}

.single-property-listings .button:hover {
	background-color: #ba8748;
	color: #fff;
}

.single-property-listings .button.alt {
	padding: 12px 16px;
	background-color: #ba8748;
}

.single-property-listings .button.alt:hover {
	background-color: #032B5B;
	color: #fff;
}

.pl-map-wrapper {
	width: 100%;
	float: left;
	clear: both;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

img.attachment-property-image {
	height: 480px;
	width: 640px;
}

.property-carousel {
    max-width:480px;
    height: auto;
    float: left;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
	padding: 20px;
	border: 5px solid #eee;
}

.lSSlideOuter .lSPager.lSGallery img {
	height: 40px!important;
}

.property-carousel li img {
	max-width: 100%;
	height: auto;
}

.property-carousel ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}

.property-carousel li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
}

.property-carousel img {
    display: block;
}

.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
	border: 2px solid #032B5B;
}

/* Featured Listing Widget */

.pl-widget-left {
	float: left;
	width: 35%;
}

.pl-widget-right {
	float: left;
	width: 65%;
	padding: 0px 20px;
}

.pl-widget-right br {
	display: none;
}

.pl-widget-right p {
	font-size: 20px;
}

.pl-widget-price {
	display: block;
	clear: both;
	text-align: center;
	margin-top: 15px;
}

.pl-widget-price.pl-price {
	font-size: 30px;
}

.pl-widget-visit {
	display: block;
	clear: both;
	text-align: center;
}

.pl-widget-visit span:before {
	content: "\f002";
	-webkit-font-smoothing: antialiased;
	font: normal 18px/1 'FontAwesome';
	margin-right: 5px;
	color: #fff;
	font-weight: bold;
}

.pl-widget-visit .button {
	padding: 18px 18px;
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: #032B5B;
	font-size: 18px;
}

.pl-widget-visit .button:hover {
	background-color: #ba8748!important;
	color: #fff!important;
}

img.attachment-property-image-home {
	height: 267px;
	width: 400px;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
	display: block;
	clear: both;
	margin: 0 auto;
}

.pl-widget-title {
	border-bottom: 1px solid #ddd;
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-size: 36px;
    color: #032B5B;
    font-family: "Crimson Text",serif;
}

.home-property-carousel {
    max-width: 100%;
    height: auto;
    box-shadow: none;
}

.home-property-carousel li img {
	max-width: 100%;
	height: auto;
}


.home-property-carousel .lSSlideOuter .lSPager.lSGallery img {
	width: 85px!important;
	height: 57px!important;
}

.home-property-carousel .lSSlideOuter .lSPager.lSGallery li {
	width: 85px!important;
	height: 57px!important;
}

.home-property-carousel .lSSlideOuter .lSPager.lSGallery {
	float: right;
	width: 100%!important;
	padding: 15px 10px;
	border-top: 3px solid #ddd;
	border-bottom: 3px solid #ddd;
}

.home-property-carousel ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}

.home-property-carousel li {
    display: block;
    float: left;
    margin-right: 5px!important;
    cursor:pointer;
}

.home-property-carousel img {
    display: block;
}

.home-property-carousel .lSAction {
	display: none!important;
}

/* Location Listing Widgets */

.pl-loc-widget-top {
	width: 100%;
	clear: both;
	margin: 10px 0px;
}

.pl-loc-widget-btm {
	width: 100%;
	clear: both;
	margin: 10px 0px;
}

.pl-loc-widget-btm br {
	display: none;
}

.widget img.attachment-property-image-archive {
	float: none;
	display: block;
	margin: 0 auto 20px;
}

.pl-loc-widget-title {
	font-weight: bold;
	font-size: 22px;
	margin-bottom: 10px;
    color: #032B5B;
    font-family: "Crimson Text",serif;
}

.pl-loc-widget-price {

}

.pl-loc-widget-visit {
	display: block;
	clear: both;
	text-align: center;
}

.pl-loc-widget-visit span:before {
	content: "\f002";
	-webkit-font-smoothing: antialiased;
	font: normal 18px/1 'FontAwesome';
	margin-right: 5px;
	color: #fff;
	font-weight: bold;
}

.pl-loc-widget-visit .button {
	padding: 18px 18px;
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: #032B5B;
	font-size: 18px;
}

.pl-loc-widget-visit .button:hover {
	background-color: #ba8748!important;
	color: #fff!important;
}

.pl-loc-widget-listings-link {
	font-weight: bold;
}



/* Listing Archive */

.pl-archive-listing-wrap {
	width: 100%;
	border: 5px solid #eee;
	padding: 20px;
	margin-bottom: 40px;
	overflow: auto;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.pl-archive-listing-wrap br {
	display: none;
}

img.attachment-property-image-archive {
	width: 300px;
	height: 200px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.pl-archive-listing-title h2 {
	font-weight: bold;
	color: #032B5B;
}

.pl-archive-visit {
	display: block;
	clear: both;
	text-align: center;
}

.pl-archive-visit span:before {
	content: "\f002";
	-webkit-font-smoothing: antialiased;
	font: normal 18px/1 'FontAwesome';
	margin-right: 5px;
	color: #fff;
	font-weight: bold;
}

.pl-archive-visit .button {
	padding: 18px 18px;
	background-color: #032B5B;
	font-size: 18px;
	float: right;
}

.pl-archive-visit .button:hover {
	background-color: #ba8748!important;
	color: #fff!important;
}

@media only screen and (max-width: 1360px) {
	.property-carousel {
		max-width: 100%;
		margin-bottom: 20px;
	}

	.pl-top-content-wrap {
		float: right;
		width: 40%;
	}

	.pl-btm-content-wrap {
		clear: none;
		float: left;
		width: 55%;
		margin-right: 20px;
	}
}



@media only screen and (max-width: 1180px) {
	.home-property-carousel .lSSlideOuter .lSPager.lSGallery {
		width: 100%!important;
		float: none!important;
	}

	.pl-widget-title {
		font-size: 32px;
	}

	.pl-archive-listing-title {
		clear: both;
	}

	img.attachment-property-image-archive {
		float: none;
		display: block;
		margin: 0 auto;
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 1023px) {}



@media only screen and (max-width: 768px) {
	.pl-widget-left {
		width: 100%;
		float: none;
		clear: both;
	}

	.pl-widget-right {
		width: 100%;
		float: none;
		clear: both;
	}

	.pl-top-content-wrap {
		float: none;
		width: 250px;
		margin: 0 auto;
		display: block;
	}

	.pl-btm-content-wrap {
		clear: both;
		float: none;
		width: 100%;
		margin-right: 0px;
	}
}


